.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	padding: 0 26px;
	border: 2px solid transparent;
	border-radius: 57px;
	background-color: $dark-blue;
	font-family: $font;
	font-size: 16px;
	font-weight: 500;
	color: $white;
	outline: none;
	box-sizing: border-box;
	line-height: 24px;
	transition: all ease-in-out .2s;
	gap: 8px;

	&--only {
		&-icon{
			padding: 10px;
			font-size: 0;
		}
	}

	&:hover {
		background-color: $dark-blue-40;
		border-color: $dark-blue-40;
	}

	&:focus {
		background-color: $dark-blue-60;
		border-color: $dark-blue-40;
	}

	&:active {
		background-color: $dark-blue-80;
		border-color: $dark-blue-80;
	}

	&:disabled {
		background-color: $color20;
		border-color: $color20;
		color: $color60;
	}

	&--outline {
		background-color: transparent;
		border-color: $dark-blue;
		color: $dark-blue;

		&:hover,
		&:focus,
		&:active {
			background-color: transparent;
			border-color: $dark-blue;
			color: $dark-blue;
		}

		&:disabled {
			background-color: $color20;
			border-color: $color20;
			color: $color60;
		}
	}

	svg {
		width: 24px;
		height: 24px;
	}

	&--small {
		height: 44px;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}
