/* SVN-Gilroy */
@font-face {
	font-family: svn-gilroy;
	font-weight: 300;
	src: url("../fonts/SVN-Gilroy-Light.otf") format("opentype");
}

@font-face {
	font-family: svn-gilroy;
	font-weight: 400;
	src: url("../fonts/SVN-Gilroy-Regular.otf") format("opentype");
}

@font-face {
	font-family: svn-gilroy;
	font-weight: 500;
	src: url("../fonts/SVN-Gilroy-Medium.otf") format("opentype");
}

@font-face {
	font-family: svn-gilroy;
	font-weight: bold;
	src: url("../fonts/SVN-Gilroy-Bold.otf") format("opentype");
}

@font-face {
	font-family: Plus-Jakarta;
	font-weight: 400;
	src: url("../fonts/PlusJakartaDisplay-Regular.woff2") format("woff2");
}

@font-face {
	font-family: Plus-Jakarta;
	font-weight: 500;
	src: url("../fonts/PlusJakartaDisplay-Medium.woff2") format("woff2");
}

@font-face {
	font-family: Plus-Jakarta;
	font-weight: 700;
	src: url("../fonts/PlusJakartaDisplay-Bold.woff2") format("woff2");
}