$font: svn-gilroy, sans-serif;
$color00: #fdfdfd;
$color10: #ebeeef;
$color20: #ccd1d2;
$color40: #99a2a5;
$color60: #667479;
$color80: #242b33;
$color100: #00171f;
$white: #fff;
$black: #000;
$yellow: #fceed5;
$pink-red: #ff564f;
$blue-sea: #00a7e7;
$dark-blue: #003459;
$dark-blue-40: #0078cd;
$dark-blue-60: #00528c;
$dark-blue-80: #002a48;
$mon-yellow: #f1d092;
$mon-yellow-40: #fceed5;

