.footer{
	background: linear-gradient(102.87deg, $yellow 6.43%, $yellow 78.33%, #FFE7BA 104.24%);

	.inner{
		padding: 80px 20px 0;

		@media screen and (max-width: 828px) {
			padding: 40px 16px 0;
		}
	}

	.search{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 32px;
		border-radius: 16px;
		background-color: $dark-blue;
		color: $white;
		gap: 20px;

		@media screen and (min-width: 829px) and (max-width: 1220px) {
			padding: 30px 20px;
		}

		@media screen and (max-width: 828px) {
			display: block;
			padding: 16px;
		}

		&__title{
			display: block;
			width: 389px;
			font-size: 24px;
			line-height: 36px;
			text-transform: capitalize;
			@media screen and (min-width: 829px) and (max-width: 1220px) {
				width: 40%;
			}
			@media screen and (min-width: 829px) and (max-width: 1025px) {
				font-size: 20px;
				line-height: 30px;
			}
			@media screen and (max-width: 828px) {
				width: 100%;
				margin-bottom: 16px;
				font-size: 20px;
				line-height: 32px;
			}
		}
	
		&__form{
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			width: 707px;
			padding: 12px;
			border-radius: 14px;
			background-color: $white;
			box-sizing: border-box;

			@media screen and (min-width: 829px) and (max-width: 1220px) {
				width: 70%;
			}

			@media screen and (max-width: 828px) {
				display: block;
				width: 100%;
			}
		}
	
		&__submit{
			width: 163px;
			border-radius: 8px;

			@media screen and (min-width: 829px) and (max-width: 1025px) {
				width: 150px;
				padding: 0 15px;
			}
			@media screen and (max-width: 828px) {
				width: 100%;
			}
		}
	}

	.nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 40px 0;
		border-bottom: 1px solid $color20;

		@media screen and (max-width: 828px) {
			display: block;
		}

		&__list{
			display: flex;
			align-items: center;
			gap: 60px;

			@media screen and (max-width: 828px) {
				gap: 40px;
				justify-content: center;
			}

			&--sns{
				gap: 40px;

				@media screen and (max-width: 828px) {
					margin-top: 20px;
				}
			}
		}

		&__link{
			color: $color100;
			text-transform: capitalize;
			@media screen and (max-width: 828px) {
				min-width: 64px;
			}
		}
	}

	.corporate{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 40px 0;
		font-size: 14px;
		line-height: 20px;
		@media screen and (max-width: 828px) {
			display: block;
			text-align: center;
		}

		&__copyright{
			display: block;
			order: -1;
			color:$color60;
			@media screen and (max-width: 828px) {
				font-weight: 400;
			}
		}

		&__list{
			display: flex;
			align-items: center;
			gap: 40px;
			@media screen and (max-width: 828px) {
				justify-content: center;
				margin: 32px 0 8px;
			}
		}

		&__link{
			color:$color60;
			text-transform: capitalize;
		}
	}

	.input-box {
		width: 508px;

		@media screen and (min-width: 829px) and (max-width: 1220px) {
			flex: 1;
			width: auto;
		}

		@media screen and (max-width: 828px) {
			display: block;
			width: 100%;
			margin-bottom: 12px;
		}
	}
}
